*, *::before, *::after {
    box-sizing: border-box;
    font-family: Gotham Rounded, sans-serif;
    font-weight:normal;
}

H1 {
    font-size: 2rem;  
    font-weight: bold;
    border: 2px solid black;
    text-align: center
}

H2 {
    font-size: 1.25rem;  
    text-align: center  
}

footer {
    font-size: 1.25rem;    
    text-align: center 
        
}
body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #00AAFF, #00AAFF);
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 200px 1fr 10px;
    grid-gap: 5px;
}

.output {
    display: grid;
    justify-content:center;
    align-content:center;
    color: rgba(0,0,0,.75);
    font-size: 2rem;    
    min-height: 5vh;
    grid-template-columns: repeat(1,100px);
    grid-template-rows: minmax(60px,auto) repeat(1,30px);
    border: 2px solid black;
    outline: none;
    background-color: rgba(255, 255, 255, 0.75);    
}


.number-grid {
    display: grid;
    justify-content:flex-start;
    align-content:center;
    min-height: 25vh;
    grid-template-columns: repeat(1,100px);
    grid-template-rows: minmax(60px,auto) repeat(38,30px);
}

.number-grid > button {
    cursor: pointer;
    font-size: 1rem;
    border: 1px solid black;
    outline: none;
    background-color: rgba(255,255,255,.75);
}

.number-grid > section {
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
    border: 1px solid black;
    outline: none;
    background-color: rgba(136, 124, 124, 0.75);
}

.number-grid > button:hover {
    background-color: rgba(255,255,255,.9);   
}

.version-grid {
    display: grid;
    justify-content:flex-end;
    align-content:center;
    min-height: 25vh;
    grid-template-columns: repeat(1,200px);
    grid-template-rows: minmax(60px,auto) repeat(38,30px);
}

.version-grid > button {
    cursor: pointer;
    font-size: 1rem;
    border: 1px solid black;
    outline: none;
    background-color: rgba(255,255,255,.75);
}

.version-grid > section {
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
    border: 1px solid black;
    outline: none;
    background-color: rgba(136, 124, 124, 0.75);
}

.version-grid > button:hover {
    background-color: rgba(255,255,255,.9);   
}

.bible-grid {
    display: grid;
    justify-content:center;
    align-content:center;
    min-height: 25vh;
    grid-template-columns: repeat(3,250px);
    grid-template-rows: minmax(60px,auto) repeat(38,30px);
}

.bible-grid > button {
    cursor: pointer;
    font-size: 1rem;
    border: 1px solid black;
    outline: none;
    background-color: rgba(255,255,255,.75);
}
    
.bible-grid > button:hover {
    background-color: rgba(255,255,255,.9);   
}

.bible-grid > section {
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
    border: 1px solid black;
    outline: none;
    background-color: rgba(136, 124, 124, 0.75);
}

.span-two {
    grid-column: span 2;
}

.output {
    grid-column: 1 / -1;
    background-color: rgba( 219, 221, 224, 0.75 );
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand {
    color: rgba(255,255,255,.75);
    font-size: 5.5rem;
}

.output .current-operand {
    color: white;
    font-size: 1.5rem;
}

